
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --desktop-color: blue;
  --desktop-text-color: #ffffff;

  --title-bar-color: #cccccc;
  --title-bar-text-color: #333333;
  --title-bar-highlight-color: #aaaaaa;
  --title-bar-height: 32px;

  --pane-content-background-color: #ffffff;

  --pane-default-width: 320px;
  --pane-default-height: 360px;
  --pane-border-radius: 8px;
}

body {
  font-family: 'Xanh Mono', monospace;
  background-image: url("assets/sky.png");
  background-position: top;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: clip;
}

@supports (-webkit-touch-callout: none) {
    body {
        background-attachment: scroll;
        background-size: cover;
    }
}

.pane {
  position: absolute;
  width: var(--pane-default-width);
  height: var(--pane-default-height);

  display: grid;
  grid-template-rows: var(--title-bar-height) 1fr;

  border-radius: var(--pane-border-radius);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);

  overflow: clip;

  min-width: 160px;
  min-height: 160px;
}

.pane .title {
  cursor: move;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--title-bar-color);
  color: var(--title-bar-text-color);
}

.pane h2 {
  font-size: 1rem;
  font-weight: 400;
}

.pane .content {
  position: relative;
  background-color: var(--pane-content-background-color);

  overflow-y: auto;
  overflow-x: hidden;
}


.pane .content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

  object-fit: cover;

  -webkit-user-drag: none;
  user-drag: none;
}


.pane .corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: nwse-resize;
}

.pane.is-dragging .title {
  background-color: var(--title-bar-highlight-color);
}

.cv-content {
  display: flex;
  padding: 30px;
}

.cv-content .icon img {
  position: static;
  top: auto;
  left: auto;
  width: 48px;
  height: 48px;
  max-width: none;
  max-height: none;
  object-fit: contain;
}

span {
  font-size: 12px;
  font-family: 'Xanh Mono', monospace;
}


.desktop-icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.7);
}

.desktop-icon img {
  width: 48px;   
  height: 48px;
  image-rendering: pixelated;
}


.desktop-icon.trash {
  bottom: 20px;
  right: 20px;
}


.icon {
display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: #000;
  text-decoration: none;
}




@media (max-width: 850px) {
  body {
    height: auto;     
    overflow: auto;     
  }

  .pane {
    position: static;   
    width: 420px;        
    height: auto;      
    margin: 0 auto 20px;
  }

  .pane .content {
    max-height: none;   
    overflow-y: hidden;
  }

  .pane .content img {
    position: relative;
    object-fit: contain;
  }

  .panes {
    margin-bottom: 100px;
  }
  
  .desktop-icon {
    display:none;
  }

}

@media (max-width: 650px) {
  body {
    height: auto;      
    overflow: auto;    
  }

  .pane {
    position: static;  
    width: 320px;    
    height: auto;      
    margin: 0 auto 20px;
  }

  .pane .content {
    max-height: none;  
    overflow-y: hidden;
  }

  .headshot {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}